.map {
  display: flex;
  justify-content: center;
}
.headercontact {
  text-align: center;
}
.shopnamecontact {
  font-size: xx-large;
  font-weight: bolder;
}
.popup {
  display: flex;
  justify-content: center;
}
.namepricesearch span {
  margin: 0 20px;
}
.searchresult {
  text-align: center;
}
.hinh {
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #333333;
  transition: 0.3s;
  
}
.name {
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: #feab0d;
  color: #ffffff;
  transition: 0.3s;
  box-shadow: 2px 2px 5px #333333;
  border-left: 1.5px solid #ffffff;
  border-top: 1.5px solid #ffffff;
}
.price {
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: #feab0d;
  color: #ffffff;
  transition: 0.3s;
  box-shadow: 2px 2px 5px #333333;
  border-left: 1.5px solid #ffffff;
  border-top: 1.5px solid #ffffff;
}
.App {
  height: 300vh;
  background-color: rgb(255, 235, 204);
 
}
.navheader {
  font-size: xx-large;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #ccc;
}
.header {
  height: 70px;
}
.navheader > * {
  text-decoration: none;
  color: black;
}
.card-search {
  background-color: rgb(246, 231, 182);
}
.custom-card-body {
  background-color: rgb(255, 235, 204, 0.7) !important;
}
.view
{
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: #feab0d;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 2px 2px 5px #333333;
  border-left: 1.5px solid #ffffff;
  border-top: 1.5px solid #ffffff;
  margin-top: -10px;
}
.view:hover
{
  background-color: #d28a04;
}
.view:active
{
  box-shadow: inset 2px 2px 5px #333333;
}
.product
{
  display : flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  float:left;
  box-sizing: border-box;
}

  
